:host{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    display: block;
    overflow: hidden;
    max-height: 100%;
}
.xs-content{
    background: #fff;
    padding: 10px;
    padding-bottom: 0;
    width: 100%;
}
.xs-plugin-pullup-loading{
    text-align: center;
}