<div class="flex">
    <div class="row">
        <xscroll [items]="items" (onLoad)="onLoad($event)" (onRefresh)="onRefresh($event)">
            <ng-template xscrollRef let-item>
                <div>{{item}}</div>
            </ng-template>
        </xscroll>
    </div>
    <div class="row">
        <xscroll [items]="items" (onLoad)="onLoad($event)" (onRefresh)="onRefresh($event)">
            <ng-template xscrollRef let-item>
                <div>{{item}}</div>
            </ng-template>
        </xscroll>
    </div>
</div>